<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES CRUD APPLICATION</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main-container">
        {{!-- Header --}}
        {{> header }}
        {{!-- /Header --}}

        <main id="site-main">

            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/add-films" class="border-shadow">
                        <span class="text-gradient">New Film <i class="fa-solid fa-film"></i></span>
                    </a>
                </div>
                {{!-- user.login returns github username --}}
                {{!-- form handling --}}
                <form action="/" method="POST">
                    <table class="table">
                        <thead class="thead-dark">

                            <tr>
                                <th>ID</th>
                                <th>Name of Film</th>
                                <th>Year of Release</th>
                                <th>Genre</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each films}}

                            <tr>
                                <th>{{this._id}}</th>

                                <th>{{{name}}}</th>
                                <th>{{yearOfRelease}}</th>
                                <th>{{genre}}</th>
                                <th>{{status}}</th>
                                <td>
                                    <a href="/update-film?id={{_id}}" class="btn border-shadow update">
                                        <span class="text-gradient">
                                            <i class="fa-solid fa-pen"></i>
                                        </span>
                                    </a>
                                    <a class="btn border-shadow delete" onclick="deleter(`{{this._id}}`)">
                                        <span class="text-gradient">
                                            <i class="fa-solid fa-trash"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>


                            {{/each}}

                        </tbody>
                    </table>
                </form>
            </div>
        </main>

        <script>
            function deleter(id) {
                if (confirm('Do you really want to delete this record?')) {
                    location.href= `http://localhost:3000/api/films/delete?id=${id}`;
                }
            }
        </script>





    </div>
    {{!-- Footer --}}
    {{> footer }}
    {{!-- /Footer --}}